<%= simple_form_for @project do |c| %>
  <%# <div id="errors">
    <h2>
      <%= pluralize(@campaigns.errors.count, "error") %>
        <%# <ul>
          <% @campaigns.errors.full_message.each do |msg| %>
             <%# <li>
            <%= msg %>
            <%# </li>
          <% end  %>
         <%# </ul>
    </h2>
  </div> %>

  <div class="form-group">
    <%= c.input :name, input_html: { class: 'form-control'} %>
    <%= c.input :description, input_html: { class: 'form-control'} %>
    <%= c.input :photo, input_html: { class: 'form-control'} %>
    <%= c.input :category, input_html: { class: 'form-control'} %>
    <%= c.input :utl, input_html: { class: 'form-control'} %>
    <%= c.button :submit, class: 'btn btn-info' %>
  </div>
<% end %>
