<div class="banner">
  <div class="container">
    <h3>Find all my projects and inspirations here !</h3>
    <p>Learn to code change my life</p>
  </div>
</div>
<%#
<div class="features">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading">Projects</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-6 col-xs-4">
            <% @projects.each do |project| %>
              <%#= link_to project_path(project) do %>
              <%# <div class="project" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%#= cl_image_path project.photo.key, height: 300, crop: :fill %>
              <%#= cl_image_tag project.photo.key, height: 500, width: 600, crop: :fill  %>
                <%# <div class="project-title">
                  <%# <h4><%#= project.name %>
                  <%# <p class="text-muted"><%= project.category %>
                <%# </div>
              </div>
              <% end %>
            <%# <% end %>
          <%# </div>
      <%# </div> %>
    <%# </div> %>
<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="col-md-12 col-sm-6 col-xs-4 centered" style="position: relative, width: 100%, padding-right: 0, padding-left: 0" >
          <% @projects.each do |project|%>
            <%= link_to project_path(project) do %>
              <div class="wish-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.3)), url(<%= cl_image_path project.photo.key %>)">
                <div class="tag">
                  <div class="wish-tag">
                    <%= project.name %>
                  </div>
                </div>
                <div class="wish-info" >
                  <div class="wish-username">
                    <%= project.category %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
         </div>
    </div>
  </div>
</div>
