<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @project.photo.key, height: 300, crop: :fill %>')">
</div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="offer-show-card">
        <%= cl_image_tag @project.photo.key, class: 'img-show'%>
      </div>
      <div class="offer-show-card px-5 py-4">
        <h1>This is <%= @project.name %> <i class=“fas fa-paw”></i></h1>
        <h3>A bit more about <%= @project.name %> ...</h3>
        <p><%= @project.description %></p>
        <p><%= @project.name %> is <strong><%= @project.category %></strong>
        </div>
      </div>
        <div class="project-show-card mt-20 p-3">
          <div class="flex-align">
            <h6 class="no-mb">Visit the <a href=<%= @project.utl %> target="_blank"> website</a></h6>
          </div>
        </div>
        <div class="text-center">
          <%= link_to "Return to the list", projects_path, class: "btn btn-gradient back-btn" %>
        </div>
      </div>
    </div>
  </div>
