 <div class="card-category">
</div>

<div class="project-category">
  <div class="card-trip">
    <%= cl_image_tag @project.photo.key, crop: :fill, class: 'img'%>
    <div class="card-trip-infos">
      <div>
        <h1 class="blue"><%= @project.name %></h1>
        <p><%= @project.description %></p>
      </div>
      <span><p class="card-trip-pricing"><%= @project.category %></p></span>
      <% if @project.category == "UX design" %>
      <%= image_tag "#{ asset_url "figma.svg"}", class: 'card-trip-user' %>
      <% elsif @project.category == "Web App" %>
      <%= image_tag "#{ asset_url "ruby.svg"}", class: 'card-trip-user' %>
       <% else @project.category == "Web design" %>
      <%= image_tag "#{ asset_url "wordpress.svg"}", class: 'card-trip-user' %>
      <% end %>
    </div>
    <div class="flex-align">
      <p class="no-mb" style="padding-left: 15px">Visit the <a href=<%= @project.utl %> target="_blank"> website</a></p>
    </div>
  </div>
  <div class="text-center" style="margin: 100px auto">
    <%= link_to "Return to the list", projects_path, class: "custom-button" %>
  </div>
</div>
