<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Hi I am Oneal and this is my Dev portfolio">
    <title>O'neal | PORTFOLIO</title>
    <!-- Facebook Open graph data-->
    <meta property="og:title" content="O'neal Portfolio - Web developper">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.portfolio-oneal.me">
    <meta property="og:image" content="http://www.portfolio-oneal.me/app/assets/images/logo.png">
    <meta property="og:description"
      content="Hello I am Oneal, I am a Web developper, catch up if you have something digital in mind!!">
    <meta property="og:site_name" content="Oneal Portfolio - Web app developper">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="57x57" href="app/assests/images/logo.png">
    <link rel="apple-touch-icon" sizes="60x60" href="app/assets/images/logo.png">
    <link rel="apple-touch-icon" sizes="72x72" href="app/assets/images/logo.png">
    <link rel="apple-touch-icon" sizes="76x76" href="app/assets/images/logo.png">
    <link rel="apple-touch-icon" sizes="120x120" href="app/assets/images/logo.png">
    <link rel="apple-touch-icon" sizes="144x144" href="app/assets/images/logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href="app/assets/images/logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="app/assets/images/logo.png">
    <link rel="icon"  type="image/png" sizes="32x32" href="app/assets/images/logo.png">
    <link rel="icon"  type="image/png" sizes="96x96" href="app/assets/images/logo.png">
    <link rel="icon"  type="image/png" sizes="16x16" href="app/assets/images/logo.png">
    <link href='https://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%#= render "shared/navbar" %>
    <%# <div class="content-wrapper"> %>
      <%= yield %>
    <%# </div> %>
    <%#= render 'shared/footer' %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
